@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-bg: rgb(234, 179, 8)
}

body {
  color: white;
  background: var(--default-bg);
}

.button {
  border-radius: 4px;
  background-color: rgb(127, 127, 127);
  padding: 4px;
}

.section {
  border-top: 2px black solid;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: var(--default-bg);
  color: black;
}

.section h2 {
  font-size: 1.5rem;
}
